body {
    direction: rtl;
    text-align: right;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}

/* Adeua and Zuarat */

.prayerAndVisits .prayer-today
{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.gallery-images
{
    border: 2px solid #1b1e21;
    overflow: hidden;
    cursor: pointer;
}
.gallery-images .image
{
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}
.gallery-images:hover .image
{
    width: 150% !important;
    height: 150% !important;
}
.image-btn
{
    top: 70%;
    position: absolute;
    border-radius: 20px;
    display: none;
}
.image:hover + .image-btn
{
    display: block;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 90%;
        margin: 1.75rem auto;
    }
}


/* End Adeua and Zuarat */